<section class="form-section">
  <div class="text">
    <h3>Fique por dentro de tendências</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum perferendis id deserunt eos sed consequatur eius, eaque soluta itaque assumenda dolor accusantium non nobis quae deleniti labore earum beatae sunt.</p>
  </div>
  <form>
    <label for="name">Name</label>
    <input id="name"/>
    <label for="email">Email</label>
    <input id="email"/>
    <btn-primary></btn-primary>
  </form>
</section>
